@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-navy-50: #f0f4f9;
  --color-navy-100: #d9e3f1;
  --color-navy-200: #b9cbe5;
  --color-navy-300: #8ea9d3;
  --color-navy-400: #5f84be;
  --color-navy-450: #4d72af;
  --color-navy-500: #42639d;
  --color-navy-600: #344d7e;
  --color-navy-700: #2b3f66;
  --color-navy-800: #263554;
  --color-navy-900: #232f48;

  --color-slate-150: #eef2f7;

  --color-sheetany-green: #0F9D60;
  --color-sheetany-dark: #0b1426;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.space-y-3>:not([hidden])~:not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-bottom: calc(.75rem * 0);
  margin-top: calc(.75rem * (1 - 0));
}

.space-x-4>:not([hidden])~:not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-left: calc(1rem * (1 - 0));
  margin-right: calc(1rem * 0);
}

.blog-content p {
  margin-bottom: 2rem;
}

blockquote,
dd,
dl,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0;
}

.space-x-4> :not([hidden])~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-left: calc(1rem * (1 - var(--tw-space-x-reverse)));
  margin-right: calc(1rem * var(--tw-space-x-reverse));
}

.text-white {
  color: #fff;
}

.btn,
.btn:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.btn {
  align-items: center;
  border-radius: 0.5rem;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  letter-spacing: 0.025em;
  padding: 0.5rem 1.25rem;
  text-align: center;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.blog-content {
  font-size: 1rem;
  line-height: 1.5rem;
}

.tracking-wide {
  letter-spacing: .025em;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-slate-900 {
  color: #0f172a;
}

.blog-content ul li {
  counter-increment: ul-counter;
  margin-bottom: 10px;
  padding-left: 20px;
  position: relative;
}

.blog-content ul li:before {
  content: "•";
  font-weight: 600;
  left: 0;
  position: absolute;
  top: 0;
}

.blog-content ul {
  counter-reset: ul-counter;
  list-style: none;
  margin: 10px 0;
  padding-left: 10px;
}

.blog-content h3 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

.blog-content b,
.blog-content strong {
  font-weight: 600;
}

.blog-content ol {
  counter-reset: list-counter;
}

.blog-content ol li {
  counter-increment: list-counter;
  list-style: none;
  padding-left: 20px;
  position: relative;
}

.blog-content ol li {
  margin-bottom: 10px;
}

.blog-content ol li:before {
  content: counter(list-counter) ".";
  font-weight: 600;
  left: 0;
  position: absolute;
  top: 0;
}